#heading{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


@media only screen and (max-width: 1200px){
  
}

body{
  background-image: url(./vecteezy_dog-seamless-pattern-theme-bone-paw-foot-print-for-use-as-wallpaper-or-background_464517/dog_and_cat_pattern-14.jpg);
  background-size: 30%;
  background-repeat: repeat;
}

.store-name h1{
  font-family: 'Luckiest Guy', cursive;
  font-size: 50pt;
  display: flex;
  padding: 70px;
}

.adopt-1{
  display: flex;
  flex-wrap: wrap;
  font-family: 'Pangolin';
  justify-content: center;
  background-color: rgb(233, 214, 243);
  padding-top: 40px;
  padding-bottom: 40px;
  align-items: center;
}

.adopt-1 img{
  width: 200px;
}

.adopt-1 h1{
  font-size: 50pt;
}

.about{
  background-color: rgb(205, 245, 231);
}

.adopt-2{
  font-family: 'Pangolin';
}

.adopt-2 img{
  width: 200px;
  border-radius: 50%;
}

.pet-image{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


#market{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: antiquewhite;
}

.topnav{
   background-color: rgb(221, 175, 122);
   overflow: hidden;
   display: flex;
   flex: row;
   justify-content: space-around;
}


.topnav a{
  font-family: 'Pangolin';
  font-size: 16pt;
  color: black;
  text-decoration: none;
  padding: 14px 16px;
}

.topnav a:hover{
  background-color: white;
  text-decoration: none;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 1200px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}


@media screen and (max-width: 1200px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.carousel img{
  border-radius: 25%;
}

.carousel-inner{
  background-color: antiquewhite;
  padding-top: 100px;
  padding-right: 200px;
  padding-bottom: 100px;
  padding-left: 200px;
  font-family: 'Pangolin';
}

.carousel-caption h5{
  font-size: 24pt;
}

.page-footer{
   left:0px;
   bottom:0px;
   width:100%;
   background-color:rgb(221, 175, 122);
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  .fa:hover {
    opacity: 0.7;
  }

  .fa-facebook {
      color: white;
  }
  .fa-twitter {
    color: white;
  }
  .fa-instagram {
    color: white;
  }


#form{
  background:rgb(221, 175, 122);
  padding: 30px;
  border-radius: 25px;
}

@media screen and (max-width: 1007px) {
  .carousel-inner{
    padding: 0;
  }
}

#shop-header{
  background-color: antiquewhite;
  font-family: 'Pangolin';
  padding-top: 30px;
  padding-bottom: 30px;
}

.join{
  display: flex;
  flex-wrap: wrap;
  font-family: 'Pangolin';
  justify-content: center;
  background-color: rgb(233, 214, 243);
  padding-top: 40px;
  padding-bottom: 40px;
  align-items: center;
}

.join img{
  width: 200px;
}