body{
  background-image: url(./vecteezy_dog-seamless-pattern-theme-bone-paw-foot-print-for-use-as-wallpaper-or-background_464517/dog_and_cat_pattern-14.jpg);
  background-size: cover;
  background-repeat: repeat;
}

.store-name{
  font-family: 'Luckiest Guy', cursive;
  font-size: 90px;
  text-align: center;
}
#market{
  display: flex;
  flex-wrap: wrap;
}

.topnav{
   background: rgb(221, 175, 122);
   overflow: hidden;
   display: flex;
   flex: row;
   justify-content: space-around;
}


.topnav a{
  font-family: 'Pangolin';
  font-size: 16pt;
  color: black;
  text-decoration: none;
  padding: 14px 16px;
}

.topnav a:hover{
  background-color: white;
}

.container{
  font-family: 'Pangolin';
}

.page-footer{
   left:0px;
   bottom:0px;
   width:100%;
   background:rgb(221, 175, 122);
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  .fa:hover {
    opacity: 0.7;
  }

  .fa-facebook {
      color: white;
  }
  .fa-twitter {
    color: white;
  }
  .fa-instagram {
    color: white;
  }

.carousel-inner{
  padding-top: 100px;
  padding-right: 200px;
  padding-bottom: 100px;
  padding-left: 200px;
}

#form{
  background:rgb(221, 175, 122);
}

@media screen and (max-width: 1007px) {
  .carousel-inner{
    padding: 0;
  }
}
