body{
  overflow-x: hidden;
}

#heading{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image: url('./colorful-dog-cat-paw-prints-pattern-background/SL-100420-36140-29.jpg');
  background-size: 25%;
  background-repeat: repeat;
}

#logo{
  width: 150px;
}


@media only screen and (max-width: 1200px){
  #heading{
    text-align: center;
    display: flex;
    background-image: none;
  }
  
}

.store-name h1{
  font-family: 'Pangolin';
  font-size: 40pt;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 1200px){
  .store-name h1{
    font-size: 30pt;
  }
}

.adopt-1{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'Pangolin';
  justify-content: center;
  background-color: rgb(233, 214, 243);
  padding-top: 40px;
  padding-bottom: 40px;
  align-items: center;
}

.adopt-1 img{
  width: 200px;
}

.about{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.our-story{
  background-color: rgb(253, 251, 147);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  align-items: center;
}

.adopt-2{
  font-family: 'Pangolin';
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: rgb(205, 245, 231);
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  align-items: center;
  text-align: center;
}

.adopt-2 img{
  width: 200px;
  border-radius: 50%;
}

#adopt-logo{
  width: 100px;
}

.pet-image{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#adopt-btn{
  background-color: pink;
  border: none;
}


#market{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: antiquewhite;
}

.topnav{
   background-color: rgb(250, 221, 187);
   overflow: hidden;
   display: flex;
   flex: row;
   justify-content: space-around;
}


.topnav a{
  font-family: 'Pangolin';
  font-size: 16pt;
  color: black;
  text-decoration: none;
  padding: 14px 16px;
}

.topnav a:hover{
  background-color: white;
  text-decoration: none;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 1200px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}


@media screen and (max-width: 1200px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media screen and (max-width: 1200px) {
  body{
    background-image: none;
  }
}

.carousel img{
  /* border-radius: 25%; */
}

.carousel-inner{
  background-color: antiquewhite;
  padding-top: 100px;
  padding-right: 200px;
  padding-bottom: 100px;
  padding-left: 200px;
  font-family: 'Pangolin';
}

.carousel-caption h5{
  font-size: 24pt;
}

.page-footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
   left:0px;
   bottom:0px;
   width:100%;
   background-color: rgb(250, 221, 187);
   font-family: 'Source Sans Pro';
  font-weight: bold;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  .fa:hover {
    opacity: 0.7;
  }

  .fa-facebook {
      color: grey;
  }
  .fa-twitter {
    color: grey;
  }
  .fa-instagram {
    color: grey;
  }

  #footer-1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  #footer-2{
    display: flex;
    flex-wrap: flex;
  }

  @media screen and (max-width: 1200px) {
    #footer-2 p{
      display: none;
    }
  }


#form{
  background: rgb(205, 245, 231);
  padding: 30px;
  border-radius: 15px;
  font-family: 'Source Sans Pro';
  font-weight: bold;
}

@media screen and (max-width: 1200px) {
  .carousel-inner{
    padding: 0;
  }
}

#shop-header{
  background-color: rgb(233, 214, 243);
  font-family: 'Pangolin';
  padding-top: 30px;
  padding-bottom: 30px;
}

.join{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'Pangolin';
  justify-content: center;
  background-color: rgb(253, 251, 147);
  padding-top: 40px;
  padding-bottom: 40px;
  align-items: center;
  text-align: center;
}

.join img{
  width: 100px;
}

#join-2{
  display: flex;
  justify-content: center;
}

#join-2 h3{
  font-family: 'Source Sans Pro';
  font-weight: bold;
}

@media screen and (max-width: 1200px) {
  .credit{
    display: none;
  }
}

.about{
  font-family: 'Pangolin';
}

.container{
  border-radius: 15px;
}

#services{
  display: flex;
  text-align: center;
}

#service-heading{
  text-align: center;
}